<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--set方式注入：值类型和引用类型-->
    <bean name="user" class="com.scma.User">
        <!--为User对象中名为name的属性注入tom作为值-->
        <property name="name" value="tom"></property>
        <!--为car属性注入下方配置的car对象-->
    </bean>



</beans>